# Node.js dependencies
node_modules
dist

# Archivos de entorno
.env

# Archivos de Git
.git
.gitignore

# Archivos de logs
*.log
logs/

# Archivos temporales y de sistema
.DS_Store
Thumbs.db

# Ignorable deploy stuff
.deploy.sh
.wslpurifier.sh